In [1]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [2]:
url = 'https://www.iplt20.com/auction'
page = requests.get(url)
soup = BeautifulSoup(page.text,'html')

In [3]:
sample = soup.find('table', class_='ih-td-tab auction-tbl', id="t1")
titles_o = sample.find_all('th')
titles = [title.text for title in titles_o]
titles.append('TEAM')
titles

['PLAYER', 'NATIONALITY', 'TYPE', 'PRICE PAID', 'TEAM']

In [4]:
df = pd.DataFrame(columns = titles)
df

Empty DataFrame
Columns: [PLAYER, NATIONALITY, TYPE, PRICE PAID, TEAM]
Index: []

In [5]:
tables = soup.find_all('table', class_='ih-td-tab auction-tbl', id="t1")

In [6]:
count = 0
for team in tables:
    team_data = team.find_all('tr')
    for row in team_data[1:]:
        row_data = row.find_all('td')
        individual_list = []
        for data in row_data:
            individual_data = data.text
            individual_list.append(individual_data)
            
        if count==0:
            individual_list.append('CSK')
        elif count==1:
            individual_list.append('DC')
        elif count==2:
            individual_list.append('GT')
        elif count==3:
            individual_list.append('KKR')
        elif count==4:
            individual_list.append('LSG')
        elif count==5:
            individual_list.append('MI')
        elif count==6:
            individual_list.append('PBKS')
        elif count==7:
            individual_list.append('RR')
        elif count==8:
            individual_list.append('RCB')
        elif count==9:
            individual_list.append('SRH')

        length = len(df)
        df.loc[length] = individual_list
    count += 1

In [7]:
df

                   PLAYER NATIONALITY            TYPE     PRICE PAID TEAM
0   Avanish Rao Aravelly      Indian   Wicket-Keeper      20,00,000   CSK
1      Mustafizur Rahman    Overseas          Bowler    2,00,00,000   CSK
2         Daryl Mitchell    Overseas     All-Rounder   14,00,00,000   CSK
3           Sameer Rizvi      Indian          Batter    8,40,00,000   CSK
4        Rachin Ravindra    Overseas     All-Rounder    1,80,00,000   CSK
..                    ...         ...             ...            ...  ...
67           Akash Singh      Indian          Bowler      20,00,000   SRH
68        Jaydev Unadkat      Indian          Bowler    1,60,00,000   SRH
69     Wanindu Hasaranga    Overseas     All-Rounder    1,50,00,000   SRH
70           Pat Cummins    Overseas     All-Rounder   20,50,00,000   SRH
71           Travis Head    Overseas          Batter    6,80,00,000   SRH

[72 rows x 5 columns]

In [8]:
df.to_csv(r'C:\Users\abhij\OneDrive\Desktop\HackNite 2024\Statistics.csv', index = False)